@import 'utility';

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  border: 0;
  width: 200px;
  height: 60px;
  margin: 0.3em auto;
  font-size: 2em;
  color: $niceBlack;
  border-radius: 5px;
  background-color: rgb(255, 253, 195);

  &:focus {
    outline: 0;
  }
}

textarea {
  border: 0;
  outline: 0;
  width: 200px;
  height: 60px;
  margin: 0.3em auto;
  font-size: 2em;
  color: $niceBlack;
  border-radius: 5px;
  background-color: rgb(255, 253, 195);
}

.userInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
}
