@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  min-height: 100%;
}

body {
  background: #443850;
}

body,
#root,
#root > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgb(181, 226, 255);
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font: $base-text-size / 1 $base-font-family;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 800px;
  background-color: #bcaa99;
  box-shadow: 0 0 10px 0.5;
}

img {
  max-width: 400px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    color: $niceWhite;
  }
}

hr {
  width: 90%;
  border-top: 1px dashed $niceBlack;
}

code {
  background-color: rgba(242, 126, 101, 0.3);
  margin: 0.1em;
  border-radius: 2px;
}

.topNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addItemBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 1em 0 0;
}

button.addInfo {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  cursor: pointer;
  animation: rotate 0.5s ease;
}

.addWordRotate {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.addWordRotate.open {
  transform: rotate(45deg);
  transition: all 0.5s ease;
  color: rgb(242, 126, 101);
}

@keyframes rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(45deg); }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

// Word-Def Input

.wordList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  border: 0;
  width: 200px;
  height: 60px;
  margin: 0.3em auto;
  font-size: 2em;
  color: $niceBlack;
  border-radius: 5px;
  background-color: rgb(255, 253, 195);

  &:focus {
    outline: 0;
  }
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.addWordDef {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;
  animation: fadeIn 0.5s ease;
}

textarea {
  border: 0;
  outline: 0;
  line-height: 60px;
  width: 300px;
  height: 60px;
  margin: 0.3em auto;
  font-size: 2em;
  color: $niceBlack;
  border-radius: 5px;
  background-color: rgb(255, 253, 195);
}

.userInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
}

.wordInput {
  resize: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 3px dashed rgb(255, 253, 195);
}

.wordEdit {
  color: $niceWhite;
  font-size: 1.7em;
  font-family: $mainFont;
}

textarea.defInput {
  background-color: rgb(255, 253, 237);
  width: 300px;
  height: 170px;
}

.controlBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 325px;
}

button.defSubmit,
button.exitBtn {
  border: 0;
  width: 150px;
  height: 50px;
  margin: 0.4em;
  background-color: #443850;
  line-height: 40px;
  color: $niceWhite;
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  cursor: pointer;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0);
  transition: all 0.2s ease;

  &:focus {
    outline: 0;
    background-color: rgb(225, 181, 255);
  }

  &:hover {
    background-color: rgb(225, 181, 255);
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.1);
  }
}

// Search / Home

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
  animation: fadeIn 0.5s ease;
}

input.searchBox {
  border: none;
  border-bottom: 3px dashed rgb(255, 253, 195);
  width: 300px;
  height: 60px;
  margin: 0.3em auto;
  font-size: 2em;
  color: $niceBlack;
  text-align: left;
  background-color: transparent;
  resize: none;

  &:focus {
    outline: 0;
  }
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.ShowSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li.searchResult {
  margin: 0.2em;
  background-color: rgb(255, 253, 195);
  padding: 0.3em;
  border-radius: 5px;
  animation: fadeIn 0.5s ease;
}

a.searchLinks {
  color: $niceBlack;
  text-decoration: none;
}

button.searchBtn {
  border: 0;
  width: 200px;
  height: 50px;
  background-color: rgb(181, 202, 255);
  line-height: 40px;
  color: $niceWhite;
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  cursor: pointer;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;

  &:focus {
    outline: 0;
    background-color: rgb(225, 181, 255);
  }

  &:hover {
    background-color: rgb(225, 181, 255);
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }
}

p.welcome {
  font-size: 0.6em;
  color: $niceWhite;
}

.editDeleteBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.titleBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editBtn {
  background-color: transparent;
  border: none;
  color: rgb(101, 161, 242);
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.4s ease;

  &:focus,
  &:hover {
    transform: scale(1.2);
  }
}

.deleteBtn {
  background-color: transparent;
  border: none;
  color: rgb(242, 126, 101);
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.4s ease;

  &:focus,
  &:hover {
    transform: scale(1.2);
  }
}

//Letter Bar

.LetterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.letterLinks {
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  margin: 0.1em;
  color: $niceBlack;
  border-top: 2px solid rgba(255, 253, 195, 0);
  border-bottom: 2px solid rgba(255, 253, 195, 0);
  transition: all 0.3s ease;

  &:hover {
    border-top: 2px solid rgba(255, 253, 195, 1);
    color: rgb(64, 115, 246);
  }

  &:focus,
  &:active {
    border-top: 2px solid #8e5572;
    border-bottom: 2px solid #8e5572;
  }
}

.wordList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.BrowseLetter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.selectedLetter {
  margin-top: 0.3em;
  margin-left: -0.3em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 4em;
  font-weight: heavy;
  text-align: center;
  padding: 0;
}

.letterFade {
  animation: fadeIn 0.4s ease;
}

li.wordBlock {
  margin: 0.2em;
  background-color: rgb(255, 253, 195);
  padding: 0.3em;
  border-radius: 5px;
  animation: fadeIn 0.3s ease;
}

a.word {
  text-decoration: none;
  color: $niceBlack;
}

.homeLink {
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  border-radius: 5px;
  background-color: rgb(255, 253, 237);
  min-width: 300px;
  max-width: 400px;
  height: inherit;
  text-align: left;
  padding: 1em;
  animation: fadeIn 0.5s ease;

  a {
    color: rgb(105, 168, 219);
    text-decoration: none;
    transition: all 0.4s ease;

    &:focus,
    &:hover {
      color: rgb(242, 126, 101);
    }
  }

  h1,
  p {
    color: $niceBlack;
  }
}

.info > label {
  font-size: 1.5em;
  font-family: $mainFont;
  color: $niceBlack;
  text-align: left;
  margin: 0;
}

input[type=submit] {
  width: 200px;
  font-size: 2em;
  margin: 0.5em auto;
  outline: 0;
}

footer {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .copyright {
    font-size: 0.7em;
    color: $niceBlack;
  }
}
